Create a Python program that calculates the absolute value of a given number.
The program should prompt the user to input a number, then compute and print the absolute value of that number.

Input Format-
The input consists of single number.

Output Format-
The output consists of absolute value of the input.

Example-
Input:
-6
Output:
6

In [8]:
n = int(input())
abs_n = abs(n)
print(abs_n)

-6
6

Create a Python program to determine the nth element of an arithmetic sequence where the first term a is 7 and the common difference d is 11. The program should prompt the user to input the value of n, then compute and print the nth element of the sequence.

Input Format:
The input consists of a single integer n.

Output Format:

The output consists of the nth element of the arithmetic sequence.

Example:
Input:
3
Output:
29

In [6]:
a = 7
d = 11

n = int(input())
nth_element = a + (n - 1) * d
print(nth_element)

3
29

Create a Python program to compute the sum of the first N natural numbers {1,2,3...N}. The program should prompt the user to input the value of N, then compute and print the sum of the first N natural numbers.


Input Format:
The input consists of a single integer N.

Output Format:
The output consists of the sum of the first N natural numbers.

Example:
Input-
5
Output-
15

In [7]:
N = int(input())
sum_of_natural_numbers = N * (N + 1) // 2
print(sum_of_natural_numbers,end='')

5
15